services:

  jupyter_lab:
    image: tommaso93/jupyter-lab_root
    volumes:
      - ./persistent-storage/:/home/jovyan/persistent-storage/
    ports:
      - "8888:8888"
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - JUPYTER_TOKEN_FILE=/run/secrets/jupylab_password
    secrets:
      - jupylab_password

secrets:
   jupylab_password:
     file: ./secrets/jupylab_password.txt
